.submit {
  background-color: #00bfff;
  background: linear-gradient(
    to right,
    var(--clr-primary),
    var(--clr-secondary) 50%,
    var(--clr-secondary)
  );
  background-size: 200% 100%;
  background-position: 0%;
  color: var(--clr-light);
  transform: scale(1);
  transition: all 0.2s ease-out;

  &:not(:disabled):hover {
    color: var(--clr-primary);
    background-position: 100%;
    transform: scale(1.02);
  }
}
